:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdb;

  --header__navbar-height: 34px;
  --header-with-search-height: calc(
    var(--header-height) - var(--header__navbar-height)
  );
  --header-height: 120px;
}

* {
  box-sizing: inherit; /* inherit class parent chua thuoc tinh box-sizing */
}
html {
  font-size: 62.5%; /* 10px */
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* responsive */
/* 3 Cấp
.grid{
  .row{
    .column{

    }
  }
} */
.grid {
  /* màn hình lớn hơn 1200 thì kích thước tối đa grid chỉ là 1200 */
  width: 1200px;
  /* nếu màn hình nhỏ hơn 1200 thì kích thước sẽ bằng với kích thước màn hình điện thoại */
  max-width: 100%;
  /* tự động căn giữa khối khi nằm trong khối cha */
  margin: 0 auto;
}
.grid__full-width {
  /* trong TH ko muốn sử dụng width: 1200 */
  width: 100%;
}
.grid__row {
  /* Thằng nào nằm trong class này nằm trên cùng 1 hàng ngang */
  display: flex;
  /* nếu tổng độ dài các box vượt quá thì sẽ xuống hàng */
  flex-wrap: wrap;
  /* Để tạo ra khoảng cách giữa các cột sản phẩm là 24px */
  margin-left: -12px;
  margin-right: -12px;
}
/* -------------------test reponsive------------------------ */
.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.grid__column-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3334%;
}

/* -------------------------- */
/* modal */

.modal {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  animation: fadeIn linear 0.3s;
}

/* overlay */
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  background-color: var(--white-color);
  z-index: 1;
  margin: auto;
  border-radius: 5px;
  animation: growth linear 0.2s;
}

.modal__inner {
}
/* -------------------------- */

/* Button style */
.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  border: none;
  background-color: var(--white-color);
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn--primary:hover {
  background-color: #ee4d2dad;
}
.btn.btn--disable {
  cursor: default;
  background-color: #999;
  color: #fff;
}

.btn.btn--size-s {
  height: 22px;
  font-size: 1.2rem;
  min-width: 76px;
}

/* --------------select-input--------------- */
.select-input {
  height: 22px;
  min-width: 120px;
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
  position: relative;

}
.select-input:hover .select-input__list{
  display: block;
}
.select-input-label {
  font-size: 1.2rem;
}
.select-input-icon {
  font-size: 1.2rem;
  color: var(--text-color);
}
.select-input__list {
  left: 0;
  right: 0;
  border-radius:2px;
  background-color: var(--white-color);
  position: absolute;
  list-style: none;
  top: calc(100% - 7px);
  padding-left: 0;
  padding: 10px 0;

  display: none;
}
.select-input__list::before{
  content: "";
  height: 10px;
  width: 100%;
  position: absolute;
  top: -10px;
}
.select-input__item{
  padding: 8px 0;
}
.select-input__link{
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

.select-input__link:hover{
  color: var(--primary-color);
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
