
.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--header__navbar-height);
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  padding: 0 7px;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight:500;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--bold {
  font-weight: 500;
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
  align-items: stretch;
}

.header__navbar-item--separator::after {
  height: 14px;
  width: 1px;
  content: "";
  display: block;
  position: absolute;

  background-color: #fdb2a8;
  align-content: center;
  top: 10;
  right: 0;
}
.header__navbar-user{
  display: flex;
  justify-content: center;
  position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
display: block;
}

.header__navbar-user-img{
width: 25px;
height: 25px;
margin-right: 5px;
border-radius:50%;
border: 1px solid #ccc;
}
.header__navbar-user-name{
  font-weight: 500;
  
}
.header__navbar-user-menu{
  background-color: var(--white-color);
  position: absolute;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  z-index: 1;

  width: 160px;
  top: 120%;
  right: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  display: none;
}
.header__navbar-user-item{
  color: var(--text-color);
  list-style: none;
  display: flex;
  align-items: center;
}
.header__navbar-user-item a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  padding: 10px 10px;
}
.header__navbar-user-item:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-item:hover{
  background-color: #e2e2e27e;
}
.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  right: 40px;
  top: -20px;
  border-width: 10px 15px ;
  border-color: transparent transparent var(--white-color) transparent;
  border-style: solid;
}
.header__navbar-user-menu::after{
  content: "";
  position: absolute;
  right: 0;
  top: -20px;
  height: 30px;
  width: 100%;
}