/* pagination */

.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    height: 30px;
}

.pagination-item{
}

.pagination-item--active .pagination-item_link{
    background-color: var(--primary-color);
    color: var(--white-color);
    
}

.pagination-item_link{
    display: block;
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 5px 15px 5px;
    margin: 0 10px;
    border-radius: 2px;
}

.pagination-item_icon{
    font-size: 1.6rem;
    font-weight: 100;;
}
